body {
  background-color: #ebecec;

  margin: 0;
  padding: 0;

}

html {
  box-sizing: border-box;

}

.Logo {
  position: absolute;
  top: -30px;
  width: 100px;
  height: 100px;
  margin: 3rem 0;
  z-index: 1;

  left: 50%;
  transform: translate(-50%)
}


@media(max-width: 500px) {
  .Logo {
    left: 45px;
    width: 70px;
    height: 70px;
    top: -20px;
  }
}